:root {
    /** Dark theme primary colors */
    --primary-a0: #e20613;
    --primary-a10: #ea3f2c;
    --primary-a20: #f25d45;
    --primary-a30: #f8775d;
    --primary-a40: #fd8f77;
    --primary-a50: #ffa691;

    /** Dark theme surface colors */
    --surface-a0: #171717;
    --surface-a0-transparent: #17171745;
    --surface-a10: #2c2c2c;
    --surface-a20: #434343;
    --surface-a30: #5b5b5b;
    --surface-a40: #747474;
    --surface-a50: #8e8e8e;

    /** Dark theme mixed surface colors */
    --surface-mixed-a0: #2b1b17;
    --surface-mixed-a10: #40302c;
    --surface-mixed-a20: #554643;
    --surface-mixed-a30: #6c5e5b;
    --surface-mixed-a40: #837774;
    --surface-mixed-a50: #9a918e;

    --text-primary: #FFFFFF;
}
[data-theme='light'] {
    /** Light theme primary colors */
    --primary-a0: #e20613;
    --primary-a10: #ea3f2c;
    --primary-a20: #f25d45;
    --primary-a30: #f8775d;
    --primary-a40: #fd8f77;
    --primary-a50: #ffa691;

    /** Light theme surface colors */
    --surface-a0: #f0f0f0;
    --surface-a0-transparent: #f0f0f045;
    --surface-a10: #f2f2f2;
    --surface-a20: #f3f3f3;
    --surface-a30: #f5f5f5;
    --surface-a40: #f7f7f7;
    --surface-a50: #f8f8f8;

    /** Light theme mixed surface colors */
    --surface-mixed-a0: #f4ded8;
    --surface-mixed-a10: #f5e2dc;
    --surface-mixed-a20: #f7e5e1;
    --surface-mixed-a30: #f8e9e5;
    --surface-mixed-a40: #f9ede9;
    --surface-mixed-a50: #faf0ee;

    --text-primary: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease, color 1s ease;
}

a {
    font-weight: 500;
    color: var(--primary-a0);
    text-decoration: inherit;

    &:hover {
        color: var(--primary-a10);
    }
}

h1 {
    font-family: defqon;
    letter-spacing: 4px;
    font-size: 3.2em;
    color: var(--primary-a0);
}

h2 {
    font-family: defqon;
    letter-spacing: 4px;
    font-size: 3.2em;
    color: var(--primary-a0);
    margin-bottom: 1%;
}

p {
    font-family: lato;
    color: var(--text-primary);
}

body {
    width: 100%;
    background: var(--surface-a0);
    scroll-behavior: smooth;

    #counter {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1%;
    }

    header {
        width: 100%;
        position: fixed;
        top: 0;
        background-color: transparent;
        z-index: 100;
    }

    main {
        width: 100%;

        #artists {
            height: 100dvh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    footer {
        width: 100%;
        background-color: var(--surface-a10);
    }
}